.category-selection-list {
  z-index: 3;
  display: flex;
  gap: var(--space-l);
}

.category-button {
  all: unset;
  color: white;
}

.category-button:hover {
  all: unset;
  color: var(--gray-700);
  cursor: pointer;
}

.category-button:focus {
  outline: revert;
}

.active {
  color: var(--gray-700);
}
