.bouncing-images {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.album-cover-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.songkick-widget,
.album-cover {
  width: 450px;
  height: 450px;
}

.enabled {
  display: flex;
  align-items: center;
  z-index: 2;
}

.disabled {
  display: none;
}
