.bouncing-images {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.album-cover {
  z-index: 1;
  position: absolute;
  margin-right: 280px;
  margin-bottom: 12px;
  border-radius: 2px;
  width: 572px;
  height: 632px;
  opacity: 1;
  transform: perspective(940px) skewY(1deg) rotateY(-31deg) scale(0.73);
}

.background-image {
  position: absolute;
  height: 100%;
  width: 750px;
  height: 750px;
}
