.contact-container {
  z-index: 3;
  position: absolute;
  right: 0;
  display: flex;
  gap: var(--space-s);
  font-size: 15px;
  align-items: center;
  text-align: end;
}

.contact-container:hover {
  gap: var(--space-m);
}

.contact-container:hover .mail-icon {
  cursor: pointer;
  transform: scale(1.15);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.country-email-container {
  display: flex;
  gap: var(--space-xs);
  flex-direction: column;
  margin-bottom: 2px;
  opacity: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: opacity 0.6s, transform 0.6s;
  transition-delay: 0.3s;
}

.country-email-container.visible {
  opacity: 1;
  transform: scaleY(1);
  transition-delay: 0s;
}

.country-link {
  z-index: 50;
  all: unset;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.country-link:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.mail-icon {
  width: 24px + var(--space-s);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.on-bottom {
  align-self: flex-end;
}

@media only screen and (max-width: 1000px) {
  .contact-container {
    display: none;
  }
}
