.container {
  display: flex;
  gap: var(--space-s);
  align-items: center;
  align-items: flex-end;
}

.countries-container {
  display: flex;
  gap: var(--space-xs);
  flex-direction: column;
}

.country {
  all: unset;
}

.country:hover {
  cursor: pointer;
}
