.sources {
  display: flex;
  gap: var(--space-s);
  height: 24px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.enabled {
  cursor: pointer;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.enabled:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.disabled {
  color: var(--gray-300);
}

.disabled:hover {
  cursor: not-allowed;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

@media only screen and (max-width: 600px) {
  .sources {
    display: none;
  }
}
