.mediaplayer-container {
  z-index: 2;
  display: flex;
  gap: var(--space-m);
  align-items: center;
  background-color: white;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  height: 91px;
  width: 100%;
  padding: var(--space-m);
}

.metadata {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-bottom: var(--space-xs);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 1px solid var(--gray-400);
  border-right: 1px solid var(--gray-400);
  padding: 0 var(--space-m);
}

.metadata .url {
  display: inline;
  animation: scroll 5s linear infinite;
  animation-timing-function: linear;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.music-info,
.song-details,
.production-info,
.url {
  display: flex;
  gap: var(--space-s);
}

.controls,
.sources {
  display: flex;
  gap: var(--space-s);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.control:hover {
  cursor: pointer;
  transform: scale(1.15);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.disabled {
  color: var(--gray-300);
}

.disabled:hover {
  cursor: not-allowed;
  transform: scale(1);
}

.audioplayer {
  display: none;
}
