.mediaplayer-container {
  z-index: 2;
  display: flex;
  gap: var(--space-m);
  align-items: center;
  background-color: white;
  border: 1px solid var(--gray-300);
  border-radius: 8px;
  height: 118px;
  width: 100%;
  padding: var(--space-m);
}

.audioplayer {
  display: none;
}

@media only screen and (max-width: 600px) {
  .mediaplayer-container {
    border: none;
    flex-direction: column-reverse;
    padding: 0;
  }
}
