.toggle-container {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-s);
  height: 24px;
  cursor: pointer;
  z-index: 2;
}

.toggle-container:hover .icon {
  transform: scale(1.15);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.icon {
  width: 16px + var(--space-s);
  transform: scale(1);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}

.label {
  all: unset;
  font-size: 15px;
}

@media only screen and (max-width: 1000px) {
  .toggle-container {
    display: none;
  }
}
