.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  justify-content: center;
  align-items: flex-end;
  width: 925px;
}

.footer-icons {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--space-xl);
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}
