.footer {
  width: 925px;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  justify-content: center;
  align-items: flex-end;
}

.footer-icons {
  position: relative;
  width: 100%;
  display: flex;
  gap: var(--space-xl);
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
}

@media only screen and (max-width: 1000px) {
  .footer {
    width: 100%;
    padding: var(--space-l);
    background-color: white;
  }

  .footer-icons {
    justify-content: center;
  }
}
